<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d] [%t] [%-5level] [%logger{36}] - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.bitsevn.projects.messaging" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
</configuration>